<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webmoney</title>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-diagoona.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"/>
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.min.css')}}">

</head>
<body>

<nav class="navbar navbar-expand-sm ">
    <a href="/"><i class="fas fa-coins fa-3x mt-1 tm-logo"></i> </a>
    <h2 class="tm-sitename text-uppercase" id="webmon">Webmoney</h2>

    <ul class="navbar-nav ml-auto">
        <a href="{{ url_for('api_blueprint.auth_blueprint.logout') }}" class="nav-link">
            Logout
        </a>
    </ul>

</nav>
<div style="padding: 210px;">
    <div style="text-align:center">
        <h3 style="font-size:42px;" class="title">DELETE ACCOUNT</h3>

        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}

                <form method="POST" action="{{ url_for('api_blueprint.user_blueprint.delete_user') }}">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" style="font-size:32px;" type="password" name="password"
                                   placeholder="Пароль" autofocus="">
                        </div>
                    </div>
                    <button class="button is-block is-info is-large is-fullwidth ">Удалить</button>
                </form>
        </div>
    </div>
</div>
