<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webmoney</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webmoney</title>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-diagoona.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"/>
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-diagoona.css')}}">
</head>
<body>
<div class="tm-row pt-2">


    <div class="tm-col-left">
        <div class="tm-site-header media">
            <a href="/"><i class="fas fa-coins fa-3x mt-1 tm-logo"></i> </a>
            <div class="media-body">
                <h1 class="tm-sitename text-uppercase">Webmoney</h1>

            </div>
        </div>
    </div>


</div>
<div style="padding: 228px;">
  <div style="text-align:center">
        <h3>Операция успешно выполнена!</h3>
        <a href="/pages/profile/">Вернуться в личный кабинет</a>
    </div>
</div>

</body>
</html>